<div class="admin container">
<h2>Admin#panel</h2>

<button id="update-radar">Update Radar</button><span id="radar-out"></span>

<button id="update-weather">Update Weather</button><span id="weather-out"></span>
</div>


