<h2>Admin#panel</h2>
<p>Find me in app/views/admin/panel.html.erb</p>
<p>You were only able to log in since you know the <em>secret</em> password!</p>

<button id="update-radar">Update Radar</button><span id="radar-out"></span>
<h4>One day a <em>Weather</em> download button will be here.</h4>
