<div class="admin container"><div class="cell"><div class="card">
<h2>Admin#panel</h2>

<button class="button" id="update-radar">Update Radar</button><span id="radar-out"></span>
<br>
<button class="button" id="update-weather">Update Weather</button><span id="weather-out"></span>

</div>
    <div id="bottom-container">
      <div id="info" class="card">
        <strong>Radar</strong>, a project by <a href="#">Not Implemented</a>.
      </div>
    </div> 
</div></div>
