.admin {
    background-color: #abd3ff;
    background-image: url('/images/map.gif');
    background-attachment: fixed;
    background-position: left -15% bottom 0px;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}
