// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: Roboto,Arial,sans-serif;
    color: #222;
    margin: 0;
}

a {
    color: #3a84df;
    text-decoration: none;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

.card {
    position: relative;
    z-index: 999;
    margin: 4px 15px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    overflow: hidden;
    -webkit-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    transition: background-color 200ms cubic-bezier(0.52,0,0.48,1);
    font-size: 12px;
    line-height: 1.333em;
    padding: 13px;
    width: 374px;
}

body > p {
    display: none;
}

#map-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#temp {
    font-weight: 300;
    font-size: 36px;
    line-height: 1em;
    letter-spacing: -2px;
}

#temp-units {
    font-weight: 400;
    font-size: 16px;
    vertical-align: top;
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    color: #888;
}

#curr-condition {
    display: inline-block;
    font-size: 15.88px;
    font-weight: 400;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 24px;
}

#weather {
    margin-top: 15px;
}

#info {
    position: fixed;
    bottom: 11px;
}

#nav a {
    display: inline-block;
    margin-right: 12px;
}

#preferences {
    top: 0;
    transition: all 0.14s ease-in-out;

    * {
        transition: all 0.14s ease-in-out;
    }

    .label {
        font-size: 14.66px;
        font-weight: 300;
        color: #666;
        display: block;
    }

    .close {
        font-size: 20px;
        font-weight: 200;
        color: #999;
        float: right;
        margin-top: -3px;
        cursor: pointer;
    }

    .content {
        overflow: hidden;
        max-height: 10em;
        margin-top: 1em;
    }

    &.collapsed {
        padding-bottom: 6px;
        top: -10px;
        z-index: 1;
        cursor: pointer;

        .label {
            font-size: 12px;
            font-weight: 400;
        }

        .close {
            margin-top: -20px;
        }

        .content {
            max-height: 0;
            margin-top: 0;
        }
    }

    .options {
        float: right;
        text-align: right;

        .option {
            margin-left: 5px;
            cursor: pointer;
            color: #888;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &.selected {
                color: #222;
            }
        }
    }
}
