<div id="weather" class="card">
    <div id="icon"><img src="images/partly-cloudy.svg"></div>
    <div><span id="temp">8</span><span id="temp-units">&deg;C</span></div>
    <div><span id="curr-condition">Partly Cloudy</span></div>
</div>
<div id="map-canvas"></div>
